---
import BaseLayout from "@/layouts/BaseLayout.astro";

const pageTitle = "About me";
const identity = {
  firstName: "Aman",
  lastName: "Kumar",
  country: "India",
  occupation: "CTO",
  company: "Mavehealth",
};
---

<BaseLayout pageTitle={pageTitle}>
  <h1 class="text-3xl font-bold pb-4">Astro</h1>
  <h2 class="underline">{pageTitle}</h2>
  <ul class="list-disc">
    <li>My name is Peter Parker, uh sorry I meant {identity.firstName}</li>
    <li>
      I live in {identity.country} and I work as the {identity.occupation}
       at {identity.company}!
    </li>
  </ul>
</BaseLayout>
