---
import BaseLayout from "./BaseLayout.astro";
import type { Frontmatter } from "@/types/frontmatter";
type Props = {
  frontmatter: Frontmatter;
};
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={`Blog: ${frontmatter.title}`}>
  <div class="container">
    <h1 class="text-4xl font-bold">{frontmatter.title}</h1>
    <div class="my-2 border-b-[1px]">
      <p class="text-sm text-gray-400">
        Published at {new Date(frontmatter.pubDate).toDateString()}
      </p>
      <p class="text-sm text-gray-400"><em>{frontmatter.description}</em></p>
      <p class="text-sm text-gray-400">Written by {frontmatter.author}</p>
      <img
        class="invert py-2"
        src={frontmatter.image.url}
        alt={frontmatter.image.alt}
        width="300"
      />
    </div>
    <slot />
  </div>
</BaseLayout>
